/* Contacto */

@import "variables";

.tituloContacto {
    font-size: 3rem;
    margin-top: 35px;
    font-family: 'EB Garamond', serif;
    font-weight: 800;
    font-style: italic;
    padding: 20px;
    text-align: center;
    color: $colorFont;
  }
  
  .contactoBackground {
    background-image: url("../imagenes/carrusel1-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contenidoContacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
  }
  
  .form-label {
    color: white;
  }
  
  .mensaje {
    padding: 2.375rem 0.75rem;
  }
  
  .contenidoContacto {
    div {
      h3, h4 {
        margin: 10px;
        padding-left: 10px;
      }
  
      margin: 20px;
  
      img {
        width: 20vw;
        height: 40vh;
        margin: 10px;
        border-radius: 8px;
        border-width: 1px;
        /*box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);(*/
      }
    }
  
    button {
      margin: 25px;
    }
  }