@import "variables";

.footer {
    background-color: #69504C;
    color: $colorFont;
    margin: 0px;
    padding: 0px;

    h2 {
        text-align: center;
        align-items: center;
        padding: 20px;
        font-size: 1.5rem;

    }

    p {
        flex: nowrap;
        text-align: center;
        align-items: center;
        text-decoration: none;
        padding: 10px;
        font-size: 1.5rem;

        a {
            text-decoration: none;
            text-align: center;
            padding: 10px 15px;
            color: $colorFont;
            font-weight: 600;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;

        li {
            display: flex;
            text-align: center;
            align-items: center;
            padding: 20px;
            list-style: none;

            img {
                height: 6vh;
                width: 4vw;
            }
        }


    }

}