/* MEDIA QUERIS */

/* 4K */
@media (max-width: 2560px){
  
  .contenedorServicios{
    grid-template-rows: 2fr 4fr 4fr 4fr 4fr 4fr;
}
}

/* Laptop XL */
@media (max-width: 1920px){
  
  .contenedorServicios{
    grid-template-rows: 2fr 3fr 3fr 3fr 3fr 3fr;
}
}

/* Laptop L */
@media (max-width: 1440px) {
  .contenedorServicios {
    grid-template-rows: 1.5fr 3fr 3fr 3fr 3fr 3fr;

    h2 {
      font-size: 4rem;
    }

    div {
      p {
        font-size: 2.3rem;
      }
    }
  }

  .tituloUbicacion {
    font-size: 4rem;
  }

  .card {
    margin: 4rem;
    margin-left: 18rem;
  }


}



/* Laptop */

@media (max-width: 1024px) {
  .navbar-nav {
    margin-left: 6vw;
  }

  .tituloIndex {
    h2 {
      font-size: 4rem;
    }

    p {
      font-size: 2rem;
    }
  }


  .contenidoIndex {
    div {
      .card-body {
        p {
          font-size: 2rem;
        }
      }
    }
  }


  .contenedorServicios {
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;

    h2 {
      font-size: 4rem;
    }

    div {
      p {
        font-size: 2rem;
      }
    }
  }

  .tituloStaff {
    font-size: 4rem;
  }

  .contenidoStaff {
    div {
      img {
        height: 29vh;
      }
    }
  }

  .tituloUbicacion {
    font-size: 4rem;
  }

  .card {
    margin: 5rem;
    margin-left: 12rem;
  }

}

/* Tablet */
@media (max-width: 768px) {

  .bg-light {
    height: 17vh;
  }

  .carrusel {
    img {
      height: 58vh;
    }
  }

  .contenidoIndex {
    div {
      img {
        width: 50vw;
        height: 30vh;
      }

      .card-body {
        p {
          padding: 5px;
        }
      }
    }
  }

  .navbar-brand img {
    width: 35vw;
    height: 14vh;
  }

  .contenedorServicios {
    grid-template-rows: 1.5fr 2fr 2fr 2fr 2fr 2fr;
    div {

      p {
        font-size: 1.2rem;
      }

      .textoEjercicio {
        font-size: 1.4rem;
      }

    }
  }

  .contenidoStaff {
    div {
      img {
        height: 25vh;
      }

      h3 {
        margin: 5px;
        padding-left: 2px;
        font-size: 1.3rem;
      }

      h4 {
        margin: 5px;
        padding-left: 2px;
        font-size: 1.3rem;
      }
    }
  }

  .card {
    margin-left: 9rem;
  }

}

/* Mobile L, M*/
@media (max-width: 430px) {
  .navbar-collapse {
    background-color: #69504C
  }

  .carrusel {
    img {
      height: 53vh;
    }
  }

  .contenidoIndex {
    flex-wrap: wrap;

    div {

      width: 70vw;
      margin: 1.5rem;

      p {
        margin: 20px 50px 20px 50px;
      }

      img {
        width: 70vw;
        height: 24vh;
        margin-left: 0px;
      }

      h3 {
        padding-top: 10px;
      }

      .card-body {
        p {
          padding: 6px;
          font-size: 1.5rem;
          margin: 5px;
        }
      }
    }
  }

  .contenedorServicios {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "tituloServicios"
      "spa"
      "textoSpa"
      "pelu"
      "textoPelu"
      "nutri"
      "textoNutri"
      "ejercicio"
      "textoEjercicio"
      "adiestramiento"
      "textoAdiestramiento"
      "psicologia"
      "textoPsicologia";

    h2 {
      font-size: 3rem;
      margin-bottom: 69px;
    }

    div {
      height: 43vh;
      width: 100%;
      margin: 0px;

      p {
        font-size: 1.4rem;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }



  .tituloStaff {
    font-size: 3rem;
  }

  .contenidoStaff {
    div {
      img {
        width: 50vw;
        height: 35vh;
      }
    }
  }


  .card {
    margin-left: 5rem;
    width: 73vw;
  }

  .ubicacion {
    .mapa {
      width:64.4vw;
      height: 38vh;
      margin-bottom: 16px;
    }

    .card-body {
      p {
        font-size: 1rem;
      }
    }

  }

  .tituloContacto {
    font-size: 4rem;
  }

  .footer {
    p {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
    }

    ul {
      li {
        img {
          height: -1vh;
          width: 7vw;
        }
      }
    }
  }

}


/* Mobile S */
@media (max-width: 320px){
  .carrusel{
    img{
      height: 30vh;
    }
  }


  .contenidoStaff{
    div{
      img{
        height: 25vh;
      }
    }
  }
}