/* MEDIA QUERIS */

@media (max-width: 1024px) {
  .navbar-nav {
    margin-left: 6vw;
  }
}

@media (max-width: 768px) {

  .bg-light{
    height: 17vh;
  }
  .contenidoIndex div img {
    width: 30vw;
    height: 20vh;
  }

  .navbar-brand img {
    width: 35vw;
    height: 14vh;
  }

  .contenidoServicios div {
    height: 40vh;
    width: 40vw;

    img {
      width: 40vw;
      height: 20vh;
    }
  }

  .contenidoStaff div img {
    height: 25vh;
  }
}

@media (max-width: 426px) {
  .navbar-collapse {
    background-color: #69504C
  }
  .carrusel{
    img{
      height: 53vh;
    }
  }
  .contenidoIndex {
    flex-wrap: wrap;

    div {
      p {
        margin: 20px 50px 20px 50px;
      }

      img {
        width: 71vw;
        height: 42vh;
        margin-left: 25px;
      }

      h3 {
        padding-top: 10px;
      }
    }
  }



  .footer{
    p{
      display: flex;
    flex-direction: column;
    font-size: 1rem;
    }

    ul{
      li{
        img{
          height: -1vh;
          width: 7vw;
        }
      }
    }
  }

  .contenidoServicios {
    flex-wrap: wrap;

    div {
      height: 65vh;
      width: 60vw;

      img {
        width: 60vw;
        height: 30vh;
      }
    }
  }

  .contenidoStaff div img {
    width: 50vw;
    height: 50vh;
  }

  .mapa {
    width: 70vw;
    height: 35vh;
  }
}