/* Staff */
.backgroundStaff{
    background-color: #d6e2e9;
}
.tituloStaff {
    
        font-size: 3rem;
        margin-top: 35px;
        font-family: 'EB Garamond', serif;
        font-weight: 800;
        font-style: italic;
        padding: 20px;
        text-align: center;
}

.contenidoStaff {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div {

        h3,
        h4 {
            margin: 10px;
            padding-left: 10px;
            font-size: 1.5rem;
        }

        margin: 20px;

        img {
            width: 19vw;
            height: 40vh;
            margin: 10px;

            /* padding: 10px; */
            border-radius: 8px;
            border-width: 1px;
            /*box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);*/
            filter: grayscale(100%);
            transition: all 2s;

            &:hover {
                filter: none;
                transform: scale(1.1);
            }
        }
    }
}