@import "variables";

/* ubicacion */

.tituloUbicacion{
    font-size: 3rem;
        margin-top: 35px;
        font-family: 'EB Garamond', serif;
        font-weight: 800;
        font-style: italic;
        padding: 20px;
        text-align: center;
}
.contenidoUbicacion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  
  .mapa {
    width: 64vw;
    height: 59vh;
    margin-bottom: 20px;
  }
  
  .contenidoUbicacion h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color:$colorFont;
  }
  
