@import "variables";

/* ubicacion */

.tituloUbicacion{
    font-size: 6rem;
        margin-top: 35px;
        font-family: 'EB Garamond', serif;
        font-weight: 800;
        font-style: italic;
        padding: 20px;
        text-align: center;
}
.contenidoUbicacion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }

  .ubicacion{
    .mapa{
    width: 65vw;
    height: 59vh;
    margin-bottom: 20px;
  }

  div{
    h5{
      font-size: 2rem;
    }
    p{
      font-size: 2rem
    }
  }


  }
  
  
  
  .contenidoUbicacion h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color:$colorFont;
  }
  
  .card-body{
    text-align: center;

    p{
      margin-bottom: 0px;
    }
    a{
      margin: 20px;
    }
  }

  .card{
    margin: 10rem;
    margin-left: 28rem;
  }