/* ubicacion */

.backgroundUbicacion{
    background-color: #d6e2e9;
}

.tituloUbicacion{
    font-size: 3rem;
        margin-top: 35px;
        font-family: 'EB Garamond', serif;
        font-weight: 800;
        font-style: italic;
        padding: 20px;
        text-align: center;
}
.contenidoUbicacion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  
  .mapa {
    width: 40vw;
    height: 40vh;
  }
  
  .contenidoUbicacion h3 {
    font-size: 1.5rem;
    margin: 20px;
  }
  
