* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62,5%;
  background-color: #f8f9fa; }

.row > * {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0; }

/* footer */
.sitemap {
  padding: 0px;
  font-size: 1.5rem; }

.nombre {
  padding-left: 20px; }

.footer {
  background-color: black;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  margin-bottom: 3rem; }

.bg-light {
  /*--bs-bg-opacity: 1; 
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important; */
  background: linear-gradient(#b79891, #94716b);
  height: 12vh; }

.fondoGeneral {
  /*background:linear-gradient(to right, rgb(225, 238, 195), rgb(240, 80, 83));*/
  background: white; }

/* index */
.header {
  position: sticky;
  z-index: 1000; }

.navegacion {
  /*background-color: #6c757d;*/
  /*width: 100vw;
    height: 20vh;*/
  grid-area: navegacion; }

/* modificando clases de bootstrap 
  
      .bg-light {
      background-color: #a9b5c0!important;
      height: 10vh;
  }*/
.nav-item {
  padding: 20px;
  font-size: 1.5rem; }

.navbar-nav nav-item {
  transition: background-color 3s; }

li:hover {
  background-color: rgba(255, 255, 255, 0.548); }

.navbar-nav {
  margin-left: 16vw;
  font-family: 'EB Garamond', serif;
  font-weight: 550; }

.navbar-brand img {
  width: 22vw;
  height: 15vh;
  /* padding: 5px; */
  margin-left: 10px; }

.menu li {
  display: inline-block;
  font-size: 1.5rem;
  padding: 10px 65px;
  font-family: 'Kaushan Script', cursive;
  color: #21be50;
  justify-content: center;
  align-items: center;
  transition: background-color 3s; }
  .menu li:hover {
    background-color: red; }
  .menu li a {
    text-decoration: none; }
  .menu li img {
    height: 100px;
    width: 100px; }

.carrusel img {
  width: 100vw;
  height: 100vh; }

.tituloIndex {
  text-align: center;
  grid-area: tituloIndex; }
  .tituloIndex h2 {
    font-size: 3rem;
    margin-top: 35px;
    font-family: 'EB Garamond', serif;
    font-weight: 800;
    font-style: italic; }
  .tituloIndex p {
    font-size: 2rem;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    margin-bottom: 3rem; }

/* mapa */
.calidad {
  color: #f10000; }

.experiencia {
  color: #ff640a; }

.amor {
  color: #ffd561; }

.flexNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center; }

/* extend */
.contenidoIndex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center; }

.contenidoIndex {
  background: #a2a2a2;
  background: linear-gradient(90deg, rgba(162, 162, 162, 0.936012) 0%, black 88%);
  color: white;
  margin: 20px; }
  .contenidoIndex div h3 {
    margin: 10px;
    padding-left: 10px;
    font-family: 'EB Garamond', serif;
    font-weight: 550; }
  .contenidoIndex div img {
    width: 30vw;
    height: 30vh;
    border-radius: 18px;
    box-shadow: 1px 2px 9px 0px #343333; }
  .contenidoIndex div p {
    margin: 20px;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 1.5rem; }

/*mixins*/
.tituloIndex h2 {
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
  font-family: 'EB Garamond', serif;
  margin-top: 35px; }

.tituloIndex p {
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  font-family: 'EB Garamond', serif;
  margin-bottom: 3rem; }

/* servicios */
.contenidoServicios div:hover {
  transform: translateY(-50px); }

.backgroundServicios {
  background-color: #d6e2e9; }

.tituloServicios {
  font-size: 3rem;
  margin-top: 35px;
  font-family: 'EB Garamond', serif;
  font-weight: 800;
  font-style: italic;
  padding: 20px;
  text-align: center; }

.contenidoServicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px; }
  .contenidoServicios div {
    /* border-style: solid;*/
    border-width: 1px;
    height: 45vh;
    width: 25vw;
    border-radius: 8px;
    overflow: hidden;
    margin: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.575);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
    .contenidoServicios div h3 {
      margin: 10px;
      padding-left: 10px;
      font-size: 1.2rem; }
    .contenidoServicios div h4 {
      margin: 10px;
      padding-left: 10px; }
    .contenidoServicios div img {
      width: 25vw;
      height: 28vh;
      /*margin: 10px;
        padding: 10px;
        transform: translatex(15px);*/ }
    .contenidoServicios div p {
      margin: 10px;
      font-size: 0.8rem; }

/* Staff */
.backgroundStaff {
  background-color: #d6e2e9; }

.tituloStaff {
  font-size: 3rem;
  margin-top: 35px;
  font-family: 'EB Garamond', serif;
  font-weight: 800;
  font-style: italic;
  padding: 20px;
  text-align: center; }

.contenidoStaff {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .contenidoStaff div {
    margin: 20px; }
    .contenidoStaff div h3,
    .contenidoStaff div h4 {
      margin: 10px;
      padding-left: 10px;
      font-size: 1.5rem; }
    .contenidoStaff div img {
      width: 19vw;
      height: 40vh;
      margin: 10px;
      /* padding: 10px; */
      border-radius: 8px;
      border-width: 1px;
      /*box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);*/
      filter: grayscale(100%);
      transition: all 2s; }
      .contenidoStaff div img:hover {
        filter: none;
        transform: scale(1.1); }

/* ubicacion */
.backgroundUbicacion {
  background-color: #d6e2e9; }

.tituloUbicacion {
  font-size: 3rem;
  margin-top: 35px;
  font-family: 'EB Garamond', serif;
  font-weight: 800;
  font-style: italic;
  padding: 20px;
  text-align: center; }

.contenidoUbicacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.mapa {
  width: 40vw;
  height: 40vh; }

.contenidoUbicacion h3 {
  font-size: 1.5rem;
  margin: 20px; }

/* Contacto */
.tituloContacto {
  font-size: 3rem;
  margin-top: 35px;
  font-family: 'EB Garamond', serif;
  font-weight: 800;
  font-style: italic;
  padding: 20px;
  text-align: center; }

.contactoBackground {
  background-image: url("../imagenes/carrusel1-min.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.contenidoContacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 70vh; }

.form-label {
  color: white; }

.mensaje {
  padding: 2.375rem 0.75rem; }

.contenidoContacto div {
  margin: 20px; }
  .contenidoContacto div h3, .contenidoContacto div h4 {
    margin: 10px;
    padding-left: 10px; }
  .contenidoContacto div img {
    width: 20vw;
    height: 40vh;
    margin: 10px;
    border-radius: 8px;
    border-width: 1px;
    /*box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);(*/ }

.contenidoContacto button {
  margin: 25px; }

/* MEDIA QUERIS */
@media (max-width: 1024px) {
  .navbar-nav {
    margin-left: 6vw; } }

@media (max-width: 768px) {
  .contenidoIndex div img {
    width: 30vw;
    height: 20vh; }
  .navbar-brand img {
    width: 10vw; }
  .contenidoServicios div {
    height: 40vh;
    width: 40vw; }
    .contenidoServicios div img {
      width: 40vw;
      height: 20vh; }
  .contenidoStaff div img {
    height: 25vh; } }

@media (max-width: 426px) {
  .contenidoIndex {
    flex-wrap: wrap; }
    .contenidoIndex div img {
      width: 75vw;
      height: 35vh;
      margin-left: 25px; }
    .contenidoIndex div h3 {
      padding-top: 10px; }
  .footer div img {
    height: 5vh; }
  .contenidoServicios {
    flex-wrap: wrap; }
    .contenidoServicios div {
      height: 65vh;
      width: 60vw; }
      .contenidoServicios div img {
        width: 60vw;
        height: 30vh; }
  .contenidoStaff div img {
    width: 50vw;
    height: 50vh; }
  .mapa {
    width: 70vw;
    height: 35vh; } }
